body{
	background-image:url('../img/backgraund.png');
	background-size:100% 100%;
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-khtml-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
    background-position: center; 
}

.bg-dark-big{
  background: rgba(0,0,0, 0.3);
}

.nav-link{
  color:#fff !important;
  font-size: 20px;
  display: block;
}
.nav-link:hover{
  background: #800;
}

.icon-menu{
 color: #fff;
}
footer{
	color: #fff;
}

